.main-nav{
  width:100dvw;
  max-width:100%;
  display:block;
  margin: 0;
  background-color: #042A2B;
  .main-menu{
      list-style:none;
      width:100%;
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
      flex-wrap:wrap;
      gap:1.5rem 2rem;
      padding:1rem .5rem;
      background-color:#042A2B;
      
      .main-menu-items{
          margin:0;
          padding:0;
          
          .main-menu-links{
              text-decoration:unset;
              color:#EF7B45;
              font-weight:600;
              font-size:0.9rem;
              letter-spacing:.025rem;

              &:hover{
                transition: 0.5s;
                color:#D84727;
              }
          }
      }
  }
}

.main-title{
  text-align: center;
  color: azure;
  margin: 0;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight:700;
  font-size:1.1rem;
}